# No need to keep any of the python bytecode stuff
*.py[cod]
__pycache__/

# Don't track VS Code files
.vscode/

# Virtual Environment Stuff
*venv*/

# pylint settings
.pylintrc

# Coverage
.coverage
htmlcov/